frontend/output
frontend/elm-stuff
/siot
data.db
temp
tags
.idea



# Farmation stuff
/is
/is_arm
/*.exe
/lcd_test
farmation/assets/**/assets.go
gpio-test
/*.png
/spi-test
/pulse
/pulse*
/flow*
/lindsay_sim
/update-not
