frontend/output
frontend2/output
elm-stuff
/siot
*.db
temp
tags
.idea
assets.go
temp
tags
.idea
node_modules
dist
data.json


is_arm
is
is-portal
update-not
twilio.sh
*.pem
is_arm.xz
issplash
lcd_test
lindsay_sim
