/siot
/siot_arm
/siot_arm64
/siot.exe
/tmp
*.db
*.sqlite*
temp
tags
.idea
assets.go
node_modules
/dist
data.json
/*.pem
GITHUB_TOKEN
local.sh
/badger
/book
*.zip
*.bkp
*.dtmp
*.sublime-project
*.sublime-workspace
.aider*
